ConsoleApp1/Connected Services/newService/WebServiceYygh.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecProcedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inXmlStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecProcedureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:ExecProcedure" />
  </wsdl:message>
  <wsdl:message name="ExecProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:ExecProcedureResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceYyghSoap">
    <wsdl:operation name="ExecProcedure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">前置机服务--调用各医院存储过程</wsdl:documentation>
      <wsdl:input message="tns:ExecProcedureSoapIn" />
      <wsdl:output message="tns:ExecProcedureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceYyghSoap" type="tns:WebServiceYyghSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecProcedure">
      <soap:operation soapAction="http://tempuri.org/ExecProcedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceYyghSoap12" type="tns:WebServiceYyghSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecProcedure">
      <soap12:operation soapAction="http://tempuri.org/ExecProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceYygh">
    <wsdl:port name="WebServiceYyghSoap" binding="tns:WebServiceYyghSoap">
      <soap:address location="http://10.10.1.10:20801/WebServiceYygh.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceYyghSoap12" binding="tns:WebServiceYyghSoap12">
      <soap12:address location="http://10.10.1.10:20801/WebServiceYygh.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>